*{
  margin:0;
  padding:0;
}

.cart-h-c{
  display: -webkit-box;
  display: -moz-box;
  display: box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
}

.cart-h-u{
  display: -webkit-box;
  display: -moz-box;
  display: box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  box-align: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
}

//变换原点
.origin(@x:50%,@y:50%){
  -webkit-transform-origin:@x @y;
  -moz-transform-origin:@x @y;
  -o-transform-origin:@x @y;
  transform-origin:@x @y;
}
.scale(@x:1,@y:1){
  -webkit-transform:scale(@x,@y);
  -moz-transform:scale(@x,@y);
  -o-transform:scale(@x,@y);
  -o-transform:scale(@x,@y);
  transform:scale(@x,@y);
}
//0.5px边框
.half-border(@desc){
  position: relative;
  &:after{
    content: "";
    width:200%;
    height: 200%;
    @desc();
    display:block;
    position:absolute;
    .scale(0.5,0.5);
    z-index:1;
    .origin(0,0);
  }
}
body{
  .car-bg{
    position:absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    z-index:98;
    background:rgba(0,0,0,.7);
  }
  .car-timer{
    width:100%;
    height:190px;
    position:fixed;
    bottom:0;
    z-index: 99;
    background:#fff;
    .car-title{
      width:100%;
      height:40px;
      position:relative;
      font-size:14px;
      color:#666;
      .half-border({
        left: 0;
        top: 0;
        border-bottom:1px solid #eee;
        /*border-top:1px solid #999;*/
      });
      .car-btn-cansel{
        position: absolute;
        left: 0;
        width:60px;
        height: 40px;
        color:#999;
        z-index: 2;
      }
      .car-btn-sure{
        position: absolute;
        right:0;
        width:60px;
        height: 40px;
        color:#ffab4e;
        z-index: 2;
      }
    }
    .car-body{
      height:150px;
      .car-time-show{
        width:90%;
        .car-time-frame{
          height:120px;
          overflow:hidden;
          position: relative;
          .mask-up,.mask-down{
            width:100%;
            height:45px;
            position: absolute;
            z-index:1;
            background:rgba(255,255,255,.6);
          }
          .mask-down{
            bottom: 0;
          }
          .car-time-list{
            font-size:18px;
            .car-time-date{
              height:30px;
//              width:46%;
              margin: 0 10px;
            }
            .car-time-hour{
//              width:21%;
              height:30px;
              margin: 0 25px;
            }
            .car-time-minu{
//              width:21%;
              height:30px;
              margin: 0 10px;
            }
          }
        }

      }
    }
  }
}